%header
  =render 'layouts/header'
%main.main-container
  = render 'layouts/side-menu'

  .main-container-logout
    .main-container-logout__btn
      本人情報の編集

.app-banner 
  .app-banner-contents
    %h2.app-banner-contents__subtitle だれでもカンタン、人生を変えるフリマアプリ
    %p.app-banner-contents__text 今すぐ無料ダウンロード！！
    .app-link
      .app-link__app-store-btn
        = link_to("＃") do
          = image_tag 'https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps', height: '60px', width: '155px'

      .app-link__google-play-btn
        = link_to("＃") do
          = image_tag 'https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png', alt: 'Google Play で手に入れよう', height: '', width: '180px'
%footer
  =render 'layouts/footer'

= link_to new_product_path, class: "exhibit-btn__link" do
  .exhibit-btn
    %span.exhibit-btn__text 出品する
    %i.fas.fa-camera