%header
  =render 'layouts/header'
%main.main-container
  = render 'layouts/side-menu'

  .main-container__main-contents
    %section.mypage-user-icon
      = link_to "#", class: "mypage-user-link" do
        %figure
          = image_tag 'member_photo_noimage_thumb.png', height: '60px', width: '60px'
          %h2
            = @user.nickname
        .mypage-number
          %h3.number
            評価
            %span.bold
              0
          %h3.number.list
            出品数
            %span.bold
              = @sale_item.count

    %section.mypage-tab-container-notification-todo
      %ul.mypage-tab
        %li
          =link_to "#", class: "mypage-tab__menu-item active" do
            %h3 お知らせ
        %li
          =link_to "#", class: "mypage-tab__menu-item" do
            %h3 やることリスト
      .mypage-content
        .mypage-content__detail.show
          %ul
            %li.message
              .message-content
                事務局から個人別メッセージ「ログイン通知」
                %br
                ⌛︎2日前
              %i.fas.fa-angle-right
            %li.message
              .message-content
                事務局から個人別メッセージ「ログイン通知」
                %br
                ⌛︎3日前
              %i.fas.fa-angle-right
            %li.message
              .message-content
                最大1,000円分のポイントがもらえるキャンペーン開催中！今すぐ参加使用♪
                %br
                ⌛︎5日前
              %i.fas.fa-angle-right
            %li.message
              .message-content
                事務局から個人メッセージ「ログイン通知」
                %br
                ⌛︎7日前
              %i.fas.fa-angle-right
            %li.message
              .message-content
                いまだけポイント倍増！メルペイスマート払いで最大P2,000もらえる
                %br
                ⌛︎10日前
              %i.fas.fa-angle-right
            %li.message
              = link_to "#", class: "message-content" do
                .message-list
                  一覧を見る
        .mypage-content__detail
          %ul
            %li.message
              .message-content
                Todoリストは特になし。
                %br
                ⌛︎1日前
              %i.fas.fa-angle-right
            %li.message
              = link_to "#", class: "message-content" do
                .message-list
                  一覧を見る

    %section.mypage-tab-container
      %h2.maypage-tab-head 購入した商品
      %ul.mypage-tab
        %li
          =link_to "#", class: "mypage-tab__menu-buy-item active" do
            %h3 取引中
        %li
          =link_to "#", class: "mypage-tab__menu-buy-item" do
            %h3 過去の取引
      .mypage-content
        .mypage-content__item.show
          %ul
            %li.message
              .message-content
                取引中の商品はありません
        .mypage-content__item
          %ul
            %li.message
              .message-content
                過去に取引した商品はありません



.app-banner 
  .app-banner-contents
    %h2.app-banner-contents__subtitle だれでもカンタン、人生を変えるフリマアプリ
    %p.app-banner-contents__text 今すぐ無料ダウンロード！！
    .app-link
      .app-link__app-store-btn
        = link_to("＃") do
          = image_tag 'https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps', height: '60px', width: '155px'

      .app-link__google-play-btn
        = link_to("＃") do
          = image_tag 'https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png', alt: 'Google Play で手に入れよう', height: '', width: '180px'
%footer
  =render 'layouts/footer'

= link_to new_product_path, class: "exhibit-btn__link" do
  .exhibit-btn
    %span.exhibit-btn__text 出品する
    %i.fas.fa-camera