.account__new
  = render 'layouts/form-header'
  = form_for(@user, url: user_session_path) do |form|
    .account__new__main
      .account__new__main__content
        .field__info-account
          アカウントをお持ちでない方はこちら
        .field-signup
          = link_to "新規会員登録", new_user_registration_path
        .field-signup-btn
          .field-signup-btn__google
            =link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn-def--google" do
              %i.fab.fa-google
              %span
              Googleでログイン
          .field-signup-btn__facebook
            =link_to user_facebook_omniauth_authorize_path, method: :post, class: "btn-def--facebook" do
              %i.fab.fa-facebook-square
              %span
              Facebookでログイン
          .field-signup-btn__twitter
            =link_to user_twitter_omniauth_authorize_path, method: :post, class: "btn-def--twitter" do
              %i.fab.fa-twitter-square
              %span
              Twitterでログイン
          .field-text
            = form.email_field :email, class: "field-text__input", placeholder: "メールアドレス"
            = form.password_field :password, class: "field-text__input", placeholder: "パスワード"
            = form.submit "ログイン", class:"action"
          .psw-forget
            =link_to "パスワードをお忘れの方", "#"
  = render 'layouts/form-footer'