%header
  =render 'layouts/header'

%main
  .product-category-list
    .product-list-contents
      %h2.product-list-contents__title
        = "#{@category.name}の商品一覧"
 
      .product-list-contents__grid
        - @products.each do |product|
          = link_to product_path(product.id), class: "product-box__link", method: :get do
            .product
              = image_tag "#{product.images[0].image}", class: 'product__img'
              %span.product__price 
                = "¥ #{product.price.to_s(:delimited)}"
              .product__name 
                %p 
                  = product.name
              %span.product__icon ♡ 0
        %end
      
      -if @products.blank?
        .blank-text
          こちらのカテゴリーの商品はございません。

%footer
  =render 'layouts/footer'