.container
  = render 'layouts/form-header'
  = render 'devise/shared/error_messages', resource: @product
  .sales__page
    = form_with model: @product, local: true, class: "sales__page__main" do |form|
      .sales__page__main__photos
        .field
          .field__label
            .name 出品画像
            .required 必須
          .field__label-desc 最大10枚までアップロードできます
          = form.fields_for :images do |i|
            .clearfix
              %ul#previews
                %li.input
                  %label.upload-label
                    .upload-label__text
                      ドラッグアンドドロップ
                      %br
                      またはクリックしてファイルをアップロード
                      .input-area
                        = i.file_field :name, class: "hidden image_upload"
            .js-file_group{"data-index" => "#{i.index}"}
              = i.file_field :image, class: 'js-file'
              %br/
              %span.js-remove 削除
              -# = link_to '削除', product_path(@product), method: :delete
            - if @product.persisted?
              = i.check_box :_destroy, data:{ index: i.index}, class: 'hidden-destroy'
          - if @product.persisted?
            .js-file_group{"data-index" => "#{@product.images.count}"}
              = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
              .js-remove 削除
              -# = link_to '削除', product_path(@product), method: :delete
            -# = image_tag "upload_img.png", class: "file__field"
      .sales__page__main__product
        .field__label
          .name 商品名
          .required 必須
        = form.text_field :name, {class: "field__input"}
        .field__label
          .name 商品の説明
          .required 必須
        = form.text_area :description, class: "field__text-box", placeholder: "商品の説明（必須 1,000文字以内）&#13;&#10;（色、素材、重さ、定価、注意点など）&#13;&#10;&#13;&#10;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe

      .sales__page__main__details
        .text 商品の詳細
        .field__label
          .name カテゴリー
          .required 必須
        = form.select(:category_id, Category.all.map {|category|[category.name, category.id]}, {prompt: "選択してください"}, {class: "field__selector"})

        .field__label
          .name ブランド
          .better 任意
        = form.text_field :brand, placeholder: "例）シャネル", class: "field__input"

        .field__label
          .name 商品の状態
          .required 必須
        = form.select(:condition_id, Condition.all.map {|condition|[condition.name, condition.id]}, {prompt: "選択してください"}, {class: "field__selector"})

      .sales__page__main__shipment
        .text 配送について
        .field__label
          .name 配送料の負担
          .required 必須
        = form.select(:shipping_cost_id, ShippingCost.all.map {|shipping_cost|[shipping_cost.name, shipping_cost.id]},  {prompt: "選択してください"}, {class: "field__selector"})

        .field__label
          .name 発送元の地域
          .required 必須
        = form.select(:prefecture_id, Prefecture.all.map {|prefecture|[prefecture.name, prefecture.id]}, {prompt: "選択してください"}, {class: "field__selector"})

        .field__label
          .name 発送までの日数
          .required 必須
        = form.select(:shipment_date_id, ShipmentDate.all.map {|shipment_date|[shipment_date.name, shipment_date.id]}, {prompt: "選択してください"}, {class: "field__selector"})

      .sales__page__main__price
        .text 価格 (¥300〜9,999,999)
        .sales-price
          .field__label
            .name 販売価格
            .required 必須
          .price
            .price-tag ¥
            = form.number_field :price, placeholder: "0", class: "field__input"
        .sales-comission
          .name 販売手数料 (10%)
          .right_bar
        .sales-profit
          .name 販売利益
          .right_bar_2
      .sales__page__main__button
        = form.submit "次へ進む", class: "next" 
        -# = link_to "下書きに保存", "#", class: "pending" 
        = link_to "もどる", root_path, class: "back" 
        .agreement 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  = render 'layouts/form-footer'