%header
  = render 'layouts/form-header'

.purchase-contents
  .purchase-container
    .purchase-container__title
      購入内容の確認
    .contents-border
    .purchase-container__inner
      .purchase-product__area
        .purchase-product__area--left
          .product-img-box
            = image_tag "#{@product.images[0].image}", class: 'product-img'
        .purchase-product__area--rigth 
          .purchase-product__name
            = @product.name
          .purchase-product__price
            .purchase-product__price__box
              .price__shipping-cost
                送料込み
              .price__tax
                (税込)
              .payment--price
                = "¥#{@product.price.to_s(:delimited)}"
      .contents-border

      .payment-container
        .payment__area
          .payment__area__title
            支払い金額
          .payment__area__price
            = "¥#{@product.price.to_s(:delimited)}"
        
        .point__area
          .point-info
            %span.point-check-box
            = image_tag 'furima_logo.png', width: '25px', class: 'point-logo'
            ポイント
          .point-number
            所持ポイント : P0
        
        .furima-balance__area
          .balance-info
            %span.balance-check-box
            フリペイ残高の使用
          .balance-number
            残高 : ¥0
        .important-points
          ※同時に選択した場合、フリマポイント → フリペイ残高の順でお支払いに適用されます


      .contents-border

      .delivery-address-container
        .delivery-address__area
          .delivery-address__area__tilte
            配送先

          .delivery-address__details
            %p.postal-number
            = "〒#{@address.postal_code}"
            %p.address
            = "#{@address.prefecture.name}"
            = "#{@address.city}"
            = "#{@address.ward}"
            = "#{@address.building}"
            %p.receiver-name
            = @address.last_name
            = @address.first_name
          .delivery-address__registration-info
            = link_to '#', class: "registratio-link" do
              変更する
              %i.fas.fa-angle-right

        .important-points
          %p ※郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。<br>出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
      
      .contents-border

      .payment-method-container
        .payment-method__area
          .payment-method__area__tilte
            支払い方法
          .payment-method__area__credit
            クレジットカード
            - if @card.present?
              .card-info
                %p.card-info__area__number
                  = "**** **** **** " + "#{@card_info.last4}"
                %p.card-info__area__period 
                  有効期限
                  = @exp_month + " / " + @exp_year
                .card-info__area__brand
                  = image_tag "#{@card_image}",width:'35',height:'30'

                .payment-method__area__registration-info 
                  = link_to new_card_path, class: "registratio-link" do
                    変更する
                    %i.fas.fa-angle-right

            - else
              .new-card
                = form_tag(action: :pay, method: :post) do
                  %script.payjp-button{"data-submit-text": "購入する", "data-text": "カード情報を入力する", "data-key" => "pk_test_7b773292083cfc83d995662f", :src => "https://checkout.pay.jp/", :type => "text/javascript"}

      .contents-border

      .purchase-box
        - if @card.present?
          = form_tag(action: :pay, method: :post) do
            %button.purchase__btn 購入する

%footer
  .footer__area
    %ul.footer__area__text
      %li プライバシーポリシー
      %li 利用規約
      %li 特定商取引に関する表記
    .footer__logo
      = link_to (image_tag "logo-white.png", class: "footer__logo--img"), root_path
      %p © FURIMA