.product-list-contents__grid
  - products.each do |product|
    = link_to product_path(product.id), class: "product-box__link", method: :get do
      .product
        - if product.buyer_id.present?
          .product__price-sold
            .product__price-sold__inner
              SOLD
        = image_tag "#{product.images[0].image}", class: 'product__img'     
        %span.product__price 
          = "¥ #{product.price.to_s(:delimited)}"
        .product__name 
          %p 
            = product.name
        %span.product__icon ♡ 0bu